header {
    background-color: rgb(65, 67, 68);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    text-shadow: lightsteelblue 2px 2px 4px;
    border-color: coral;
    border-style: solid;
    border-width: 2px;
}

body {
    background-image: url("../images/bgRock.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#gameField {
    background-color: lightsteelblue;
    border-style: solid;
    border-color: coral;
    border-width: 2px;
    margin: 20px 20px;
    text-align: center;
}

#feedBackField {
    background-color: lightsteelblue;
    border-style: solid;
    border-color: coral;
    border-width: 2px;
    margin: 20px 20px;
    text-align: center;
}

.feildStyle {
    text-align: center;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 3px;
    background-color: rgb(65, 67, 68);
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: white;
}

.scoringStyle {
    margin: 20px;
} 

h2 {
    text-align: center;
}

#pic {
    margin: 0 auto;
    padding: 10px;
    background-repeat: repeat;
}

#gameBlanks {
    text-shadow: cornsilk 2px 2px 4px;
}

#score {
    text-shadow: cornsilk 2px 2px 4px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: lightslategray;
    text-align: center;
    padding-top: 15px;
}

#spoilersPage {
    color: coral;
}

.cardHeader {
    text-align: center;
}

.accordion{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}